.button {
    border: none;
    cursor: pointer;
    background-color: #dec1ff;
    border-radius: 3px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.button:hover {
    background-color: #e7d1ff;
}
.button:disabled {
    background-color: #f1e4ff;
}